<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.blue.eduservice.mapper.EduSubjectMapper">
    <resultMap id="eduSubjectMapper" type="cn.blue.eduservice.entity.subject.OneSubject">
        <id column="ID" property="id"/>
        <result column="TITLE" property="title"/>
        <result column="SORT" property="sort"/>
        <result column="GMT_CREATE" property="gmtCreate"/>
        <result column="GMT_MODIFIED" property="gmtModified"/>
        <result column="STATUS" property="status"/>
        <collection property="children" column="ID" select="getSecondSubject"
                    ofType="cn.blue.eduservice.entity.subject.TwoSubject"
        />
    </resultMap>

    <sql id="Base_Column">ID,TITLE,SORT,GMT_CREATE,GMT_MODIFIED,STATUS</sql>

    <sql id="Base_Where">
        <if test="eduSubject.gmtCreate != null">
            AND GMT_CREATE > #{eduSubject.gmtCreate}
        </if>
        <if test="eduSubject.gmtModified != null">
            AND GMT_CREATE &lt; #{eduSubject.gmtModified}
        </if>
        <if test="eduSubject.title != null and eduSubject.title != ''">
            AND TITLE = #{eduSubject.title}
        </if>
    </sql>

    <select id="getAllSubject" parameterType="cn.blue.eduservice.entity.EduSubject" resultMap="eduSubjectMapper">
        SELECT
        <include refid="Base_Column"/>
        FROM EDU_SUBJECT
        WHERE PARENT_ID = 0
        <include refid="Base_Where"/>
    </select>

    <select id="getSecondSubject" resultType="cn.blue.eduservice.entity.subject.TwoSubject">
        SELECT
        <include refid="Base_Column"/>
        FROM EDU_SUBJECT
        where PARENT_ID = #{id}
    </select>
</mapper>
